#P1st {
  background-color: #b565db;
}

#P2nd {
  background-color: #e45858;
}

#P3rd {
  background-color: #231b65;
  color: white;
}

#P4th {
  background-color: #f2b355;
}

#P5th {
  background-color: #c2f0a5;
}

.CenterText {
  text-align: center;
}
