#P1st{
	background-color: rgb(181, 101, 219);
}

#P2nd{
	background-color: rgb(228, 88, 88);
	#contents2{
		font-size: 25px;
	}
}

#P3rd{
	background-color: rgb(35, 27, 101);
	color: rgb(255, 255, 255);
	#contents3{
		font-size: 25px;
	}
}

#P4th{
	background-color: rgb(242, 179, 85);
	#contents4{
		font-size: 25px;
	}
}

#P5th{
	background-color: rgb(194, 240, 165);
	#contents5{
		font-size: 25px;
	}
}

.CenterText{
	text-align: center;
}
