#P1st{
	background-color: rgb(241, 216, 240);
	#contents1{
		font-size: 25px;
	}
}

#P2nd{
	background-color: rgb(233, 252, 227);
	#contents2{
		font-size: 25px;
	}
	#contents3{
		font-size: 25px;
		line-height: 40px;
	}
}

#P3rd{
	background-color: rgb(242, 245, 211);
	#contents4{
		font-size: 25px;
	}
	#contents5{
		font-size: 25px;
	}
}


.CenterText{
	text-align: center;
}

.ContentsSub{
	font-size: 20px;
}
