#P1st {
  background-color: #f1d8f0;
}

#P1st #contents1 {
  font-size: 25px;
}

#P2nd {
  background-color: #9d568a;
}

#P2nd #contents2 {
  font-size: 25px;
}

#P2nd #contents3 {
  font-size: 25px;
  line-height: 35px;
}

#P3rd {
  background-color: #ed5fa8;
  color: #1bfb9d;
}

#P3rd #contents4 {
  font-size: 25px;
}

#P3rd #contents5 {
  font-size: 25px;
}

.CenterText {
  text-align: center;
}

.ContentsSub {
  font-size: 20px;
}
