#P1st{
	background-color: rgb(181, 101, 219);
}

#P2nd{
	background-color: rgb(228, 88, 88);
}

#P3rd{
	background-color: rgb(35, 27, 101);
	color: rgb(255, 255, 255);
}

#P4th{
	background-color: rgb(242, 179, 85);
}

#CenterText{
	text-align: center;
}
